<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{page.title}} - {{site.title}}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="265176809583-nimsmajodcputnaga340ph0e0r9ihegi.apps.googleusercontent.com">
    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="{{page.baseurl}}favicon.ico" />
    {% include styles/fonts.html %}
    {% include styles/vendor.html %}
    {% include styles/main.html %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1"> -->
  </head>
  <body>
